<form [formGroup]="profileForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Anmeldeformular</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input required formControlName="firstName" matInput placeholder="Vorname">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input required formControlName="lastName" matInput placeholder="Nachname">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input required formControlName="address" matInput placeholder="Adresse">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input required formControlName="phoneNumber" matInput placeholder="Telefonnummer">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input required type="email" formControlName="mailAddress" matInput placeholder="Email">
          </mat-form-field>
        </div>
        <div class="col-md-6 top-padding">
          <mat-form-field class="full-width" appearance="standard">
            <mat-label>Datum</mat-label>
            <input formControlName="dob" required matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-checkbox required formControlName="agb">Ich stimme den Datenschutzbestimmungen zu</mat-checkbox>
          <button onclick=" window.open('https://dsgvo-gesetz.de/', '_blank');" mat-icon-button>
            <mat-icon class="grey-icon" aria-label="info">info</mat-icon>
          </button>
        </div>
        <div class="col-md-6">
          <br>
          <div>
            <re-captcha (resolved)="resolved($event)" siteKey="6Ld8t2IdAAAAACF2vuMDbl9U4UA3MHV_wb_xknWK"></re-captcha>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="saveForm()" [disabled]="profileForm.invalid || !solved">Abschicken</button>
    </mat-card-actions>
  </mat-card>
</form>

